/*Aadil Abbasi Chasmawala, June 2024*/
/* General styles */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Montseirat', sans-serif;
    
}


/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Custom Cursor */
.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(33, 179, 212, 0.41); /* Bluish color for the drop */
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: none; /* Initially hidden */
    border-radius: 50%;
}

button:hover, a:hover {
    cursor: none; /* Hide the default cursor */
}

button:hover ~ .custom-cursor, a:hover ~ .custom-cursor {
    display: block; /* Show the custom cursor */
    transform: translate(-50%, -50%) scale(1.2); /* Slightly enlarge the drop */
}

.custom-cursor:hover {
    background-color: rgba(0, 0, 255, 0.7);
}


.mainContent{
    background:white;
}

/*Fonts*/
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Avenir\ Next.ttc);
  }

/*Text Styles*/

.imageText1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-family:'myFirstFont', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}

.imageText2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
}


/*Progress Bar*/
.progress-bar-container {
    width: 80%;
    height:20px;
    border-radius: 50px;
    background-color: #e0e0df;
    display:flex;
    top:90%;
    position: absolute;
    left:9%;
}

.progress-bar {
    width: 0;
    height: 20px;
    
    background-color: #76c7c0;
    border-radius: 50px;
    transition: width 0.4s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

/*CSS for scrollbar
- Custom Scrollbar */

::-webkit-scrollbar {
    width: 16px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #00f 0%, #00a 50%, #005 100%); /* Gradient color to resemble a drop */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 4px solid #f1f1f1; /* Space around the thumb */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow to the thumb */
    position: relative;
}

::-webkit-scrollbar-thumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: radial-gradient(circle, #00a 0%, #005 100%);
    border-radius: 50%;
    transform: translateX(-50%);
}
/*videos*/
.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Video Overlay*/
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width:100%;
    height:100%;
}

/*Styling for button*/
.button-container {
    top:100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    z-index: 999;
}

/*Back-home button*/
.back-home {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.back-home:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*restart audio button*/
#restart-audio {
    top:95%;
    left:40%;
    transform:translate(-50%,-30%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    align-items: center;
}


#restart-audio:hover,#pause-audio:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

/*pause button*/
#pause-audio{
    top:95%;
    left:60%;
    transform:translate(-50%,-20%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    align-items: center;
}

/*Chapter buttons at top*/
.chapter-button {
    padding: 10px 20px;
    background-color: rgba(150, 119, 119, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    font-size:15px;
    position:relative;
    text-decoration: none;
}


.chapter-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.chapter-button.active {
    background: linear-gradient(to right, #4facfe 0%, #022b50 100%);
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

/*Next and Previous buttons*/
#next-button, #prev-button {
    top: 50%;
    padding: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#next-button::before {
    content: '>';
}

#prev-button::before {
    content: '<';
}

#next-button {
    right: 20px;
}

#prev-button {
    left: 20px;
}

#next-button:hover, #prev-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/* Footer */
.fancy-footer {
    background: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure the wave effect stays within the footer */
}

.footer-content {
    max-width: 800px;
    margin: auto;
}

.footer-content p {
    margin: 5px 0;
    font-size: 16px;
}

.footer-content a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ffeb3b;
}

/*to ensure buttons are always seen and adjust layout for smaller ports*/
@media (max-width: 800px) {
    #restart-audio {
        top:70%;
        left:50%;
        transform:translate(-50%,-30%);
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position:relative;
        align-items: center;
    }
    #pause-audio{
        top:70%;
        left:50%;
        transform:translate(-50%,-30%);
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position:relative;
        align-items: center;
    }
    #next-button, #prev-button {
        top: 50%;
        padding: 10px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

}

