html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.mainContent{
    background:white;
}
.header{
    text-align: center;
}
.imageText1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change this to suit your image */
}

.images{
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    position:relative;
    width: 100%;
    padding: 0;
    background:url("img/water_image.jpg") no-repeat center center;
    background-size: cover;
    height:100%;
    overflow:none;
}

/*Image Overlay classes*/
